.admin{
    height: 100%;
    .sider{
        color: white;
    }
    .content{
        margin: 20px 20px 0 20px;
        background-color:white;
        display: flex;  /*弹性盒布局*/
        justify-content: center;  /*子元素水平居中对齐*/
        align-items: center;  /*子元素垂直居中对齐*/

    }
    .footer{
        text-align: center;
    }
}